# Node
node_modules/
dist/
build/
.vite/

# Env
.env
.env.local
.env.dev
.env.prod
!.env.dev.example

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# SAM
.aws-sam/
samconfig.toml

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
